@import 'mixins';
@import './colors.module.scss';

html,
body {
  background-color: #f6ecdd;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// font Visby

@font-face {
  font-family: 'Visby';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/VisbyCF-Regular.otf'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/VisbyCF-Regular.otf') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/VisbyCF-Regular.otf') format('otf'),
    /* Super Modern Browsers */ url('/fonts/VisbyCF-Regular.otf') format('otf'),
    /* Modern Browsers */ url('/fonts/VisbyCF-Regular.otf') format('otf'),
    /* Safari, Android, iOS */ url('/fonts/VisbyCF-Regular.otf') format('otf'); /* Legacy iOS */
}

@font-face {
  font-family: 'Visby';
  src: url('/fonts/VisbyCF-Bold.otf');
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: 'Visby';
  src: url('/fonts/VisbyCF-HeavyOblique.otf');
  font-weight: bolder;
}

@font-face {
  font-family: 'Visby';
  src: url('/fonts/VisbyCF-Light.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Visby';
  src: url('/fonts/VisbyCF-MediumOblique.otf');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'Visby';
  src: url('/fonts/VisbyCF-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Visby';
  src: url('/fonts/VisbyCF-ThinOblique.otf');
  font-weight: 200;
}

// main

.main-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;

  @include desktop() {
    grid-template-rows: 300px 1fr;

    width: 75%;
    margin: 0 auto;
  }
  @include tablet() {
    width: 90%;
    margin: 3em auto;
    gap: 3em;
  }
  @include ipad() {
    width: 90%;
    margin: 1em auto;
    gap: 4em;
  }
}

.word-container {
  @include desktop() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }
  @include tablet() {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }
  @include ipad() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }
}

.logo-container {
  width: 80%;
  margin: 0 auto;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @include desktop() {
    width: 100%;
    img {
      height: 250px;
      width: 250px;
    }
  }
  @include tablet() {
    width: 100%;

    img {
      height: 200px;
      width: 200px;
    }
  }
  @include ipad() {
    width: 100%;
    img {
      height: 200px;
      width: 200px;
    }
  }
}

.image-container {
  width: 80%;
  margin: 0 auto;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include desktop() {
    width: 100%;
  }
  @include tablet() {
    width: 100%;
  }
  @include ipad() {
    width: 100%;
  }
}

.main-wording {
  text-align: center;
  h2 {
    font-family: Visby;
    color: $secondary-color;
    font-size: 2em;
    text-align: center;
    font-style: oblique;
  }
  p {
    font-family: Visby;
    color: $secondary-color;
    font-size: 1em;
    text-align: center;
    font-style: normal;
  }

  @include desktop() {
    display: grid;
    align-items: center;
    justify-content: end;
    h2 {
      font-size: 5.6em;
      text-align: right;
    }
    p {
      font-size: 1.7em;
      text-align: right;
    }
  }
  @include tablet() {
    display: grid;
    align-items: center;
    justify-content: end;
    h2 {
      font-size: 3.5em;
      text-align: right;
    }
    p {
      font-size: 1.2em;
      text-align: right;
    }
  }
  @include ipad() {
    display: grid;
    align-items: center;
    justify-content: end;
    h2 {
      font-size: 3em;
      text-align: right;
    }
    p {
      font-size: 1em;
      text-align: right;
    }
  }
}

.main-button {
  div {
    width: 80%;
    margin: 0 auto;
    padding: 1em 5em;
    background-color: $accent-color;
    color: #eae3d5;
    border-radius: 5px;
    font-family: Visby;
    font-weight: 900;
    font-size: 1.2em;
    transition: 0.2s ease-in;
    &:hover {
      opacity: 0.5;
    }
  }

  @include desktop() {
    display: grid;
    justify-content: flex-end;
    div {
      width: 100%;
      cursor: pointer;
    }
  }
  @include tablet() {
    display: grid;
    justify-content: flex-end;
    div {
      width: 100%;
    }
  }
  @include ipad() {
    display: grid;
    justify-content: flex-end;
    div {
      width: 100%;
    }
  }
}
